<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anubhav.ecommercein4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myutiicon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".loginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".registerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".orderdetailActivity"
            android:label="@string/title_activity_orderdetail"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".settingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".aboutusActivity"
            android:label="@string/title_activity_aboutus"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ourpolicyActivity"
            android:label="@string/title_activity_ourpolicy"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".commoditiesActivity"
            android:label="commoditiesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name=".paymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".orderconfirmationActivity"
            android:label="@string/title_activity_orderconfirmation"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".addressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".orderlistActivity"
            android:label="@string/title_activity_orderlist"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".splashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contactusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"/>
    </application>

</manifest>